<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的首頁</title>
    <!--套用css用Jinja的寫法-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <h1>Hello Flask!</h1>
    <h2>name:{{name}}</h2>
    <!--dataFrame是一個實體，.to_html()是轉成html可讀的方式-->
    <!--轉成html的標籤後，他會有自我保護機制，先以p的形式print出，你要告訴他safe他才會用-->
    {{dataFrame.to_html() | safe}}
</body>
</html>